<div class="container my-5" style="max-width: 450px">
  <h2 class="text-center mb-4" style="font-family: 'Pacifico'">
    沚ｰ ﾄ斉ハg nh蘯ｭp Sweet Joy
  </h2>

  <form id="loginForm">
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" name="email" required />
    </div>

    <div class="mb-3">
      <label class="form-label">M蘯ｭt kh蘯ｩu</label>
      <input type="password" class="form-control" name="password" required />
    </div>

    <button type="submit" class="btn btn-danger w-100">ﾄ斉ハg nh蘯ｭp</button>

    <p class="text-center mt-3">
      Chﾆｰa cﾃｳ tﾃi kho蘯｣n?
      <a href="/register">ﾄ斉ハg kﾃｽ ngay</a>
    </p>
  </form>

  <div id="message" class="text-center mt-3"></div>
</div>

<script>
  document
    .getElementById("loginForm")
    .addEventListener("submit", async function (e) {
      e.preventDefault();

      const data = Object.fromEntries(new FormData(this).entries());

      const res = await fetch("/api/auth/login", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data),
      });

      const result = await res.json();
      const msg = document.getElementById("message");

      if (res.ok) {
        msg.innerHTML =
          "<span class='text-success'>ﾄ斉ハg nh蘯ｭp thﾃnh cﾃｴng 沁</span>";

        localStorage.setItem("user", JSON.stringify(result.user));
        if (result.user.role == "admin") {
          setTimeout(() => (window.location.href = "/admin"), 1000);
        } else {
          setTimeout(() => (window.location.href = "/"), 1000);
        }
      } else {
        msg.innerHTML = `<span class='text-danger'>${result.message}</span>`;
      }
    });
</script>