<h3>ฤฦกn hรng cแปงa tรดi</h3>

<% if(orders.length === 0) { %>
  <p>Chฦฐa cรณ ฤฦกn nรo ๐ข</p>
<% } else { %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Mรฃ ฤฦกn</th>
      <th>Tแปng tiแปn</th>
      <th>Trแบกng thรกi</th>
      <th>Ngรy ฤแบทt</th>
    </tr>
  </thead>
  <tbody>
    <% orders.forEach(o => { %>
      <tr>
        <td><%= o._id %></td>
        <td><%= o.totalPrice.toLocaleString() %> ฤ</td>
        <td><span class="badge bg-success"><%= o.status %></span></td>
        <td><%= o.createdAt.toLocaleString() %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<% } %>