h1 {
    font-family: 'Pacifico', cursive, sans-serif; /* Pacifico (chính), cursive (dự phòng), sans-serif (cuối cùng) */
    font-size: 500px;
    color: #b30a40; /* Màu hồng đậm*/
}
h2 {
    font-family: 'Pacifico', cursive, sans-serif; /* Pacifico (chính), cursive (dự phòng), sans-serif (cuối cùng) */
    font-size: 2.5em;
    color: #b30a40; /* Màu hồng đậm*/
}
/* Áp dụng cho nội dung (p, li, span) */
body, p, li {
    font-family: 'Roboto', sans-serif; /* Roboto (chính), sans-serif (dự phòng) */
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

/* Nút bấm (Button) */
.btn-primary {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
nav{
    display:flex;
    justify-content: center;
    align-items: center;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar {
  background: #ffb6c1;
  padding: 10px;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}

.container {
  padding: 20px;
}

.footer {
  background: #eee;
  text-align: center;
  padding: 10px;
}
.product-card{
  border: 1px;
  border-color: #000;
  border-radius: 5px;
}
.search-box {
  display: flex;
  gap: 5px;
}

.search-box input {
  padding: 6px 10px;
  border: 1px solid #ccc;
}

.search-box button {
  padding: 6px 12px;
  cursor: pointer;
}